        * {
            box-sizing: border-box;
        }
        
        @font-face {
            font-family: flama-m;
            src: url(../font/Flama-Medium.ttf);
        }
        
        @font-face {
            font-family: flama-l;
            src: url(../font/Flama-Light.ttf);
        }
        
        @font-face {
            font-family: flama-b;
            src: url(../font/Flama-Bold.ttf);
        }
        
        body {
            margin: 0px;
            overflow-x: hidden;
            font-family: avenir-next !important;
        }
        
        .login_bg {
            background-color: #8dc63f;
            width: 100%;
            height: 100vh;
        }
        
        .login_main {
            padding: 10vw 0;
            text-align: center;
        }
        
        .login_logo {
            margin-bottom: 5vw;
        }
        
        .login_logo img {
            width: 125px;
            height: 65px;
        }
        
        .login_form {
            width: 45%;
            margin: auto;
        }
        
        .login_form .btn_login {
            float: right;
        }
        
        .btn_login {
            background-color: #276415;
            color: #ffffff;
            font-size: 20px;
            font-family: "Helvetica Neue", sans-serif !important;
            padding: 8px 40px;
            border-radius: 0px;
            font-weight: bold;
        }
        
        .btn_login:hover {
            color: #ffffff;
        }
        
        .form-control {
            padding: 0.5rem 1.2rem !important;
            border-radius: 0px !important;
            -webkit-border-radius: 0px !important;
            -moz-border-radius: 0px !important;
            -ms-border-radius: 0px !important;
            -o-border-radius: 0px !important;
            border: 1px solid #707070;
            color: #707070;
            font-size: 16px;
            font-family: flama-m !important;
        }
        
        @media(max-width: 768px) {
            .login_form {
                width: 100%;
                margin: auto;
            }
            .login_main {
                padding: 15vw 0;
            }
            .login_logo {
                margin-bottom: 10vw;
            }
        }
        
        header {
            background-color: #8DC63F;
        }
        
        .head {}
        
        .alignleft {
            float: left;
            text-align: left;
            width: 33.33333%;
            padding-top: 35px;
        }
        
        .aligncenter {
            float: left;
            text-align: center;
            width: 33.33333%;
            padding-bottom: 30px;
            padding-top: 20px;
        }
        
        .alignright {
            float: left;
            text-align: right;
            width: 33.33333%;
            padding-top: 35px;
        }
        
        .head .aligncenter img {
            width: 100px;
            height: 50px;
        }
        
        .btn_white {
            background-color: #ffffff;
            font-size: 18px;
            border-radius: 0px;
            -webkit-border-radius: 0px;
            -moz-border-radius: 0px;
            -ms-border-radius: 0px;
            -o-border-radius: 0px;
            color: #707070;
            font-family: "Helvetica Neue", sans-serif !important;
            font-weight: bold;
            text-decoration: none;
            border: none;
            padding: 15px 40px;
        }
        
        .btn_red {
            background-color: #811A1A;
            font-size: 1vw;
            border-radius: 0px;
            -webkit-border-radius: 0px;
            -moz-border-radius: 0px;
            -ms-border-radius: 0px;
            -o-border-radius: 0px;
            color: #fff;
            font-family: "Helvetica Neue", sans-serif !important;
            font-weight: bold;
            text-decoration: none;
            border: none;
            padding: 12px 35px;
            width: 85%;
            float: right;
        }
        
        .btn_red2 {
            background-color: #811A1A;
            font-size: 18px;
            border-radius: 0px;
            -webkit-border-radius: 0px;
            -moz-border-radius: 0px;
            -ms-border-radius: 0px;
            -o-border-radius: 0px;
            color: #fff;
            font-family: "Helvetica Neue", sans-serif !important;
            font-weight: bold;
            text-decoration: none;
            border: none;
            padding: 10px 30px;
        }
        
        .admin_body {
            margin-top: 4vw;
        }
        
        .form_head {
            padding: 0 20px;
        }
        
        .form_head .col-md-2 {
            margin-bottom: 0px;
            padding-bottom: 0px;
            width: 20%;
        }
        
        .form_head .col-md-2 p {
            font-family: "Helvetica Neue", sans-serif !important;
            font-size: 16px;
            margin-bottom: 0px;
        }
        
        .form_row {
            background-color: #E2E2E2;
            padding: 20px;
            margin: 10px 0px;
        }
        
        @media(min-width: 768px) {
            .form_row .row .col-md-2 {
                margin-bottom: 0px;
                padding-bottom: 0px;
                width: 20%;
                padding: 0px 5px;
            }
        }
        
        .btn:hover {
            color: #fff;
        }
        
        .form_footer {
            margin-top: 3vw;
            text-align: right;
            margin-bottom: 50px;
        }
        
        .btn_green {
            background-color: #014310;
            color: #ffffff;
            font-size: 18px;
            font-family: "Helvetica Neue", sans-serif !important;
            padding: 8px 40px;
            border-radius: 0px;
            font-weight: 600;
        }
        
        @media(max-width: 768px) {
            .btn_red {
                font-size: 16px;
                padding: 8px 35px;
                width: 100% !important;
            }
            .form_head {
                display: none;
            }
            .btn_white {
                font-size: 12px;
                padding: 8px 15px;
            }
            .btn_green {
                font-size: 14px;
                padding: 6px 28px;
            }
            .head .aligncenter img {
                width: 70px !important;
                height: auto;
                padding-top: 14px;
            }
            .alignleft {
                padding-top: 25px;
            }
            .alignright {
                padding-top: 25px;
            }
            .aligncenter {
                padding-bottom: 20px;
                padding-top: 6px;
            }
        }
        
        @media (max-width: 1000px) {
            .container,
            .container-md,
            .container-sm {
                max-width: 100%;
            }
        }
        
        @media (max-width: 576px) {
            .container,
            .container-sm {
                max-width: 100%;
            }
            .btn_red {
                font-size: 14px;
            }
        }
        
        .backend_design {
            margin: 50px 0;
        }
        
        .design_rows {
            margin-top: 30px;
        }
        
        .design_rows .row {
            margin: 30px 0px 60px;
        }
        
        .p0 {
            padding: 0px !important;
        }
        
        .b1 {
            border: 1px solid #707070;
        }
        
        .drd2 {
            padding: 0px 20px 0px 10px;
            position: relative;
        }
        
        .editor_color_d {
            display: flex;
        }
        
        .editor_d {
            height: 120px;
            width: 244px;
            padding: 0px 20px;
        }
        
        .colors_d {
            width: 200px;
            display: flex;
            flex-wrap: wrap;
        }
        
        .colors_d span {
            width: 45px;
            height: 45px;
            margin: 0px 5px 5px;
        }
        
        .cg {
            background-color: #014310;
        }
        
        .cp {
            background-color: #95C11F;
        }
        
        .cb {
            background-color: #000;
        }
        
        .cw {
            background-color: #fff;
        }
        
        .cgr {
            background-color: #878787;
        }
        
        .addline {
            padding: 60px 20px 30px 20px;
        }
        
        .addline p {
            color: #707070;
            font-family: "Helvetica Neue", sans-serif !important;
            font-weight: bold;
            font-size: 18px;
        }
        
        .form-check {
            position: absolute;
            right: 8px;
            bottom: 60px;
        }
        
        .form-check span {
            color: #707070;
            font-family: "Helvetica Neue", sans-serif !important;
            font-weight: bold;
            font-size: 18px;
            margin-right: 8px;
        }
        
        .drdfooter {
            padding: 0px 0px 0px 20px;
            position: absolute;
            bottom: 0px;
        }
        
        .customer_design {
            margin: 50px 0;
        }
        
        .customer_rows {
            margin-top: 30px;
        }
        
        .customer_rows .row {
            margin: 20px 0px;
        }
        
        .dd2 {
            position: relative;
            padding: 0px 20px;
        }
        
        .dd2s {
            position: absolute;
            bottom: 0px;
            width: 100%;
        }
        
        .dd2s input {
            margin-bottom: 12px;
        }
        
        .dd2s button {
            float: right;
        }
        
        @media(max-width:768px) {
            .dd2 {
                padding: 20px 0px;
            }
            .dd2s {
                position: relative;
            }
            .drd2 {
                padding: 15px 0px 90px 0px;
            }
            .btn_red2 {
                font-size: 14px;
                padding: 6px 28px;
            }
            .drdfooter {
                bottom: 20px;
                right: 0;
            }
            .editor_d {
                padding-left: 0px;
                padding-right: 10px;
            }
            .colors_d {
                width: auto;
            }
            .colors_d span {
                width: 25px;
                height: 25px;
            }
            .design_rows .row {
                margin: 30px 0px 30px;
            }
            .addline {
                padding: 80px 0px 30px 0px;
            }
        }
        
        @media(max-width: 600px) {
            .addline {
                padding: 40px 0px 30px 0px;
            }
        }
        
        input[type="checkbox"],
        input[type="radio"] {
            position: absolute;
            opacity: 0;
            z-index: -1;
        }
        
        label {
            position: relative;
            display: inline-block;
            padding: 0 0 0 2em;
            height: 1.5em;
            line-height: 1.5;
            cursor: pointer;
        }
        
        label::before,
        label::after {
            position: absolute;
            top: 0;
            left: 0;
            display: block;
            width: 2.5em;
            height: 2.5em;
        }
        
        label::before {
            content: " ";
            border: 1px solid #707070;
            border-radius: 0px;
            -webkit-border-radius: 0px;
            -moz-border-radius: 0px;
            -ms-border-radius: 0px;
            -o-border-radius: 0px;
        }
        /* Checkbox */
        
        input[type="checkbox"]+label::after {
            content: "\2714";
            color: #000;
            line-height: 1.5;
            text-align: center;
            font-size: 30px;
            position: absolute;
            left: -18px;
            top: -4px;
            font-weight: normal;
        }
        /* Radio */
        
        input[type="radio"]+label::before {
            border-radius: 50%;
        }
        
        input[type=radio]+label::after {
            content: " ";
            top: .25em;
            left: .25em;
            width: 1em;
            height: 1em;
            background: #fff;
            border: .2em solid #2c3e50;
            border-radius: 50%;
        }
        /* :checked */
        
        input[type="checkbox"]:checked+label::before,
        input[type="radio"]:checked+label::before {
            background: #fff;
            border-color: #707070;
        }
        
        input[type="checkbox"]+label::after,
        input[type=radio]+label::after {
            -webkit-transform: scale(0);
            -ms-transform: scale(0);
            -o-transform: scale(0);
            transform: scale(0);
        }
        
        input[type="checkbox"]:checked+label::after,
        input[type=radio]:checked+label::after {
            -webkit-transform: scale(1);
            -ms-transform: scale(1);
            -o-transform: scale(1);
            transform: scale(1);
        }
        /* Transition */
        
        label::before,
        label::after {
            -webkit-transition: .25s all ease;
            -o-transition: .25s all ease;
            transition: .25s all ease;
        }